<div class="tab-pane fade show active" id="tab-pane-1">
    <h4 class="mb-3">Ürün Detayı</h4>
    <p>
        Turn up and switch up your looks with ultimate shadow palettes! Each palette is packed with 16 vegan*, true-to-pan payoff shades designed to create a wide range of looks. From pigmented mattes, to creamy metallics and bold shimmers, there's a shade for every look and mood!

        Check out our palettes:

        I Know That's Bright- reintroducing an icon: she's back and brighter! Pop off with vibrant brights.
        Vintage Jean Baby - step into our denim warehouse and try on a haul of cool, vintage jean blues.
        Paradise Shock - pack your makeup bags for a getaway and shock 'em with electric tropics!
        Warm Neutrals - fire up your imagination and heat it up with fierce nudes.
        Instantly go from day to play with a splash of vibrant, 1-swipe color. Get ready to create endless, ultimate looks with our pro-curated, vegan* shades and formulas.
    </p>
   
</div>
